body{
	font-size: 14px;
	color: #ffffff;
	font-family: Arial, Verdana, Tahoma;
	margin: 0;
	padding: 0;
}
#contener{
	width: 100%;
	margin: 0 auto;
	padding: 0;
	background: #754c24;
}

/***********HEADER*******************************/

#header{
	background: #754c24;
	width: 100%;
	margin: -32px 0;
	clear: both;
}

/*****************MENU********************/

#menu{
	width: 540px;
	float: left;
	margin-left: 1000px;
}
#menu ul{
	margin:25px;
	padding: 0 auto;
}
#menu ul li{
	list-style: none;
	font-size: 14px;
	float: left;
	width: 100px;
	font-family: Franklin; 
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 auto;
}
#menu ul li a{
	text-decoration: none;
	color: #ffffff;
}
/**********************LOGO********************/

#logo h1{
	width: 260px;
	font-size: 36px;
	text-transform: uppercase;
	font-style: italic;
	font-family: Agency FB;
	margin-left: 120px;
}
#logo h1 span{
	color: #dfa42e;
	font-family: Freestyle script;
	font-size: 60px;
	margin-left: -42px;
}
/***************************CONTENER*****************/
#contener #barre_recherche img.recherche{
	margin-left: 1127px;
}
.contenu_couche{
  position: relative;
  z-index: 1;
  background: url(../images/couche1contener.png);
  width: 70%;
  height: 761px;
  margin: -10px 180px;
}
img.image1{
	margin: 10px -40px;
	opacity: 0.9;
}
.home{
	position: absolute;
  	z-index: 3; /* .boite-doree sera au-dessus de .boite-verte et .boite-tirets */
 	left: 60px;
 	top: 2.5em;
}
img.image2{
	margin: -2px -40px;
	opacity: 0.9;
}
.about{
	position: absolute;
  	z-index: 3; /* .boite-doree sera au-dessus de .boite-verte et .boite-tirets */
 	left: 60px;
 	top: 8em;
}
img.image3{
	margin: 10px -40px;
	opacity: 0.9;
}
.portfolio{
	position: absolute;
  	z-index: 3; /* .boite-doree sera au-dessus de .boite-verte et .boite-tirets */
 	left: 60px;
 	top: 13.5em;
}
img.image4{
	margin: 2px -42px;
	opacity: 0.9;
}
.team{
	position: absolute;
  	z-index: 3; /* .boite-doree sera au-dessus de .boite-verte et .boite-tirets */
 	left: 60px;
 	top: 19em;
}
.welcome{
  position: absolute;
  z-index: 3; /* .boite-doree sera au-dessus de .boite-verte et .boite-tirets */
  width: 40%;
  left: 260px;
  top: 2em;
  height: 15em;
}
.welcome h2{
	width: 260px;
	font-size: 24px;
	text-transform: uppercase;
	font-family: Agency FB;
	color: #dfa42e;
}
.welcome p{
	font-size: 12px;
	font-family: Franklin Gothic Medium;
	color: #c9c9c9;
}
.menu2{
  position: absolute;
  z-index: 2; /* .boite-verte sera au-dessus de .boite-tirets */
  width: 30%;
  height: 15em;
  left: 68%;
  top: 4em;
}
/***********************PARTIE BAS DU CONTENUE**********/
img.photo1{
	position: absolute;
    z-index: 2; 
    width: 16%;
    left: 65px;
    top: 27em;
}
img.bar1{
	position: absolute;
  	z-index: 3; 
  	width: 20%;
  	left: 30px;
  	top: 24em;
  	height: 7em;
  	opacity: 0.9;
}
img.photo2{
	position: absolute;
    z-index: 2; 
    width: 16%;
    left: 33em;
    top: 27em;
}
img.bar2{
	position: absolute;
  	z-index: 3; 
  	width: 20%;
  	left: 30em;
  	top: 23em;
  	opacity: 0.9;
}
img.photo3{
	position: absolute;
    z-index: 2; 
    width: 16%;
    left: 60em;
    top: 27em;
}
img.bar3{
	position: absolute;
  	z-index: 3; 
  	width: 20%;
  	left: 55em;
  	top: 24em;
  	height: 7em;
  	opacity: 0.9;
}
p{
	font-size: 12px;
	font-family: Tahoma;
	color: #c9c9c9;
}
p.man{
	margin: 17em 5em;
}
p.fille{
	margin-top: -280px;
	margin-left: 40em;
}
p.fillec{
	margin-top: -80px;
	margin-left: 70em;
}
#bouton input{
	border-radius: 10px;
	background: #d54b1a;
	width: 90px;
	height: 30px;
}
#bouton input.envoi1{
	margin: 30px 7em;
}
#bouton input.envoi2{
	margin-top: -250px;
	margin-left: 15em;
}
#bouton input.envoi3{
	margin-top: -290px;
	margin-left: 20em;
}